* {
    margin: 0;
    padding: 0;
}

.padre{
    display: grid;
    grid-template-areas:
    'nav nav'
    'barra section'
    'footer footer'
    ;
    grid-template-columns: 1fr 6fr;
}

nav{
    grid-area: nav;
    color: white;
    text-align: center;
    background-color: darkblue;
    height: 5vh;
}

barra{
    grid-area: barra;
    background-color: lightgrey;
    height: 90vh;
}

section{
    grid-area: section;
    background-color: gray;
    height: 90vh;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.prodItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    height: 60vh;
    width: 60vh;
    gap: 20px;
    flex-wrap: nowrap;
}

.img-producto {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;

}

footer{
    grid-area: footer;
    text-align: center;
    height: 5vh;
}